@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --naranja: #f5a04c;
    --naranja-dark: #e28026;
    --rosa: #f26bb2;
    --rosa-light: #ff89c0;
    --rosa-dark: #db4d98;
    --blanco-apagado: #efefef;
}

body{
    font-family: "Manrope", sans-serif;
    text-align: center;
}

a{
    color: black;
}

h1{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 2.5em;
    color: black;
}

h2{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 2em;
    color: black;
}

h3{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 1.7em;
    color: black;
}

p{
    font-size: 1.1em;
}

/* HEADER */

nav{
    display: none;
}

header{
    background-color: var(--blanco-apagado);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

#logo{
    width: 50%;
    padding-top: 0.5em;
}

/* MAIN */

main{
    background-color: var(--blanco-apagado);
}

#section-hero{
    background-image: url(img/fondo-hero.png);
    background-position: bottom;
    background-size: cover;
    align-content: end;
    padding-bottom: 2em;
    height: 50vh;
}

h1 span{
    font-weight: 600;
    font-size: 1.1em;
    font-style: italic;
}

.p-hero{
    display: none;
}

#programa, #galeria{
    margin: 0 auto;
    width: 90%;
    padding: 5%;
}

#programa{
    max-width: 1280px;
}

#programa h2{
    padding: 1.5em 0;
}

#programa article{
    padding: 2em;
    padding-bottom: 1.5em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-bottom: 2em;
    border: 4px solid var(--naranja);
    position: relative;
}

#programa article img{
    border-radius: 10px;
    width: 100%;
}

#programa article:nth-of-type(4) img,
#programa article:nth-of-type(5),
.cupos{
    display: none;
}

.boton-naranja{
    background-color: var(--naranja-dark);
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 30px;
    align-self: center;
    padding: 0.3em 0.5em;
    transition: 0.3s;
    color: white;
}

.boton-naranja:hover{
    background-color: transparent;
    border: 2px solid var(--naranja-dark);
    color: var(--naranja-dark);
}

.boton-rosa{
    font-size: 1.3em;
    font-weight: 600;
    border: 2px solid var(--rosa);
    border-radius: 30px;
    width: fit-content;
    align-self: center;
    padding: 0.3em 0.5em;
    background-color: var(--blanco-apagado);
    transition: 0.3s;
}

.boton-rosa:hover{
    border: 2px solid var(--rosa);
    background-color: var(--rosa);
    color: white;
}

/* SECTION 3 */

#galeria{
    padding: 2em 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#galeria article{
    height: 50vh;
    align-content: center;
    text-align: center;
}

#galeria article:nth-of-type(1){
    background-color: var(--rosa);
}

#galeria article:nth-of-type(2){
    background-color: var(--naranja);
}

#galeria article:nth-of-type(2) a{
    font-size: 1.4em;
    font-weight: 600;
    border: 2px solid var(--rosa-dark);
    color: white;
    border-radius: 30px;
    width: fit-content;
    align-self: center;
    padding: 0.3em 0.5em;
    transition: 0.3s;
}

#galeria article:nth-of-type(2) a:hover{
    border: 2px solid var(--rosa-dark);
    background-color: var(--rosa-dark);
}

#galeria article:nth-of-type(2) h2{
    padding-bottom: 1em;
}

#galeria article:nth-of-type(4),
#galeria article:nth-of-type(5),
#galeria article:nth-of-type(6){
    display: none;
}

#galeria article:nth-of-type(3){
    background-image: url(img/galeria-1.png);
    background-position: center;
    background-size: cover;
}

#newsletter{
    padding: 3em 0;
}

#newsletter p{
    font-style: italic;
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 1.5em;
    padding-top: 1em;
}

input{
    height: 3em;
    font-size: 1em;
    border: 1px solid var(--rosa-dark);
    border-radius: 10px;
    padding-left: 0.5em;
}

/* FOOTER */

footer{
    background-color: var(--rosa-light);
    text-align: center;
    padding: 2em;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

footer img{
    width: 1.5rem;
    padding-top: 1em;
}


/* TABLET */
@media all and (min-width:768px){
    body{
        text-align: left;
    }    
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3em;
    }

    #hambur{
        display: none;
    }

    nav a{
        font-size: 1.3em;
        font-weight: 600;
        border: 2px solid var(--naranja);
        border-radius: 20px;
        padding: 0.3em 0.5em;
        background-color: var();
        transition: 0.3s;
    }

    nav a:hover{
        border: 2px solid var(--naranja);
        background-color: var(--naranja);
        color: white;
    }

    #section-hero{
        padding-left: 2em;
    }

    #section-hero h1{
        padding-bottom: 0.5em;
    }

    #programa h2{
        width: 100%;
        text-align: center;
    }

    #programa article:nth-of-type(4) img{
        display: block;
    }

    #programa{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        align-items: flex-start;
    }

    #programa article{
        width: 45%;
        height: auto;
    }

    .boton-naranja{
        align-self: flex-start;
    }

    #galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #galeria article:nth-of-type(2){
        grid-row: span 2 / span 2;
        height: auto;
    }

    #galeria article:nth-of-type(3){
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #galeria article:nth-of-type(4){
        display: block;
        background-color: var(--rosa-light);
        padding: 0 0.5em;
        padding-left: 2em;
        padding-right: 30%;
        text-align: left;
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #galeria article:nth-of-type(4) h2{
        padding-bottom: 0.5em;
    }

    #galeria article:nth-of-type(4) p{
        font-size: 1.2em;
    }

    #newsletter{
        text-align: center;
        padding: 4em;
    }

    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 1.5em;
        padding-top: 1em;
    }

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        gap: 2em;
        padding: 3em;
    }

    footer img{
        padding-top: 0;
    }
}


/* DESKTOP */
@media all and (min-width:1200px){
    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2.5em;
    }

    h3{
        font-size: 2em;
    }

    header{
        padding-left: 4em;
        padding-right: 4em;
    }

    #section-hero{
        padding-left: 15%;
        height: 60vh;
    }

    #section-hero h1{
        padding-bottom: 0;
    }

    #section-hero p{
        padding-bottom: 1em;
    }

    .p-hero{
        display: block;
        width: 50%;
        font-size: 1.2em;
        font-weight: 500;
        padding-top: 1em;
    }

    #programa{
        width: 100%; 
        margin: 0 auto;            
        padding: 0 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1280px;
        margin: 0 auto;
    }

    #programa h2{
        padding: 1em;
        padding-top: 2em;
    }

    #programa article:nth-of-type(5){
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        padding: 2em;
        padding-bottom: 1.5em;
        border-radius: 20px;
        border: 4px solid var(--naranja);
        position: relative;
    }

    #programa article{
        width: 30%;
    }

    .cupos{
        display: block;
        position: absolute;
        background-color: var(--rosa);
        padding: 0.5em;
        border-radius: 0 20px 0 0;
        border: 2px solid var(--rosa);
        font-weight: 600;
        top: -4px;
        right: -4px;
        color: white;
    }

    #galeria{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

#galeria article:nth-of-type(2){
        grid-row: span 2 / span 2;
        padding: 0 1.5em;
    }

    #galeria article:nth-of-type(3){
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #galeria article:nth-of-type(4){
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 1;
    }

    #galeria article:nth-of-type(5){
        display: block;
        background-color: var(--naranja-dark);
        grid-column-start: 3;
        grid-row-start: 2;
    }

    #galeria article:nth-of-type(6){
        display: block;
        background-image: url(img/galeria-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-column-start: 4;
        grid-row-start: 2;
    }

    #newsletter p{
        display: block;
    }

    footer{
        padding-right: 4em;
    }

    footer img:hover{
        transform: scale(1.3);
    }
}







